<!-- <header class="main">
  <app-logo></app-logo>
  <div class="content">
   <a routerLink="/">Home</a>
    <a routerLink="/about">About</a>
    <a routerLink="/services">Services</a>
    <a routerLink="/contact">Contact</a>
     <a routerLink="/login">
      <button>Login</button>
     </a>
      <a routerLink="/register">
        <button>Register</button>
      </a>
  </div>
</header> -->



<header>

    <!-- Menu Address -->

    <div class="menu-address-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <ul class="menu-address-wrap">
                        <li><i class="fas fa-map-marker-alt"></i> Howard Street, NY 13126 USA</li>
                        <li><i class="fas fa-envelope"></i> <a href="mailto:example@gmail.com">example@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 ">
                    <ul class="menu-address-wrap menu-address-wrap-two text-lg-end text-white list-unstyled">
                        <li><i class="fas fa-clock"></i> Office Hours: 8:00 AM – 10:00 PM</li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Menu Address End -->

    <!-- Menu -->
    <nav>
        <div class="header-menu-area for-top-address">
            <div class="container">
                <div class="row align-items-center gy-2">
                    <div class="col-xxl-2 col-xl-2 col-lg-2 col-sm-6 col-6 ">
                        <div class="logo text-left">
                            <a href="/"><img src="assets/images/logo.svg" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xxl-10 col-xl-10 col-lg-10 col-sm-6 col-6">
                        <a href="#" class="hidden-lg hamburger">
                            <span class="h-top"></span>
                            <span class="h-middle"></span>
                            <span class="h-bottom"></span>
                        </a>
                        <nav class="main-nav justify-content-between">
                            <div class="logo mobile-ham-logo d-lg-none d-block text-left">
                                <a href="/"><img src="assets/images/logo.svg" alt=""></a>
                            </div>
                            <ul>
								<li class="has-child-menu">
									<a href="#" class="active">Demos</a>
									<i class="fl flaticon-plus">+</i>
									<ul class="sub-menu">
										<li><a href="/">Home One</a></li>
										<li><a href="/home-two">Home Two</a></li>
										<li><a href="/home-three">Home Three</a></li>
										<li><a href="/home-four">Home Four</a></li>
										<li><a href="/home-five">Home Five</a></li>
										<li><a href="/home-six">Home Six</a></li>
									</ul>
								</li>
                                <li><a href="/about-us">About Us</a></li>
                                <li class="has-child-menu">
                                    <a href="javascript:void(0)">Services</a>
                                    <i class="fl flaticon-plus">+</i>
                                    <ul class="sub-menu">
                                        <li><a href="/services">Services</a></li>
                                        <li><a href="/services-details">Service Details</a></li>
                                    </ul>
                                </li>
                                <li class="has-child-menu">
                                    <a href="javascript:void(0)">Blog</a>
                                    <i class="fl flaticon-plus">+</i>
                                    <ul class="sub-menu">
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a href="/blog-details">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="has-child-menu">
                                    <a href="javascript:void(0)">Pages</a>
                                    <i class="fl flaticon-plus">+</i>
                                    <ul class="sub-menu">
                                        <li><a href="/projects">Projects</a></li>
                                        <li><a href="/projects-details">Projects Details</a></li>
                                        <li><a href="/team">Team</a></li>
                                        <li><a href="/team-details">Team Details</a></li>
                                        <li><a href="/faqs">FAQs</a></li>
                                        <li><a href="/terms-conditions">Terms &amp; Conditions</a></li>
                                        <li><a href="/pricing">Pricing</a></li>
                                        <li><a href="/coming-soon">Coming Soon</a></li>
                                        <li><a href="/error">Error</a></li>
                                    </ul>
                                </li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                            <div class="menu-btn-wrap d-flex align-items-lg-center flex-shrink-0">
                                <a class="common-btn white-bg" href="/contact">Get A Quote</a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Menu end -->

</header>
